@inject IDriver _driver
@inject NavigationManager _manager

<div class="bg-light border rounded p-2 m-2 d-flex flex-row align-items-center">
    <div class="flex-grow-1">
        <h1>@Rel.Name</h1>
        <h3>@Rel.Class1 - @Rel.Class2</h3>
    </div>
    @if (!_delete)
    {
        <button class="btn btn-primary m-2" @onclick="Open">Открыть</button>
        <button class="btn btn-danger m-2" @onclick="Delete">Удалить</button>
    }
    else
    {
        <p>Удаление...</p>
    }
</div>

@code {
    [Parameter]
    public Rel Rel { get; set; }
    [Parameter]
    public string DbName { get; set; }

    private bool _delete = false;

    private void Open()
    {
        _manager.NavigateTo($"/DbMain/{DbName}/rel/{Rel.Name}");
    }

    private async void Delete()
    {
        IResultCursor cursor;
        IAsyncSession session = _driver.AsyncSession(c => c.WithDatabase(DbName));
        try
        {
            cursor = await session.RunAsync(@$"match ()-[r:{Rel.Name}]-() delete r");
        }
        finally
        {
            await session.CloseAsync();
        }
        _delete = true;
        StateHasChanged();
    }
}